html, body {
    overflow-x: hidden;
    width: 100%;
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
}

header, footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
    color: #ecf0f1;
    width: 100%;
    border: 3px solid #0061FE;
    border-radius: 4px;
    font-weight: bolder;
}

h1 {
    font-size: 2rem;
    margin-bottom: 5px;
    padding: 10px;
    font-weight: bolder;
}

h2 {
    font-size: 1.25rem;
    color: #bdc3c7;
    padding: 5px;
}

.breadcrumb {
    align-items: center;
    font-size: large;
    font-weight: bolder;
    padding: 10px;
    background-color: #ecf0f1;
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
}

.breadcrumb li {
    margin: 0 5px;
}

.breadcrumb a {
    text-decoration: none;
    color: #000;
}

main {
    text-align: center;
    padding: 2.5rem;
    width: 100%;
}

p {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
    color: #000;
}

.year-dropdown select {
    align-items: center;
    padding: 6px;
    font-weight: bolder;
    font-size: 20px;
    border: 3px solid #0061FE;
    border-radius: 4px;
    width: 270px;
    margin-bottom: 20px;
}

.group-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.group-buttons button {
    display: flex;
    align-items: center;
    background-color: #000;
    font-size: 1.75rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 1rem;
    border: none;
    border-radius: 9px;
    color: #fff;
    transition: background-color 0.2s, transform 0.2s;
}

.group-buttons button img {
    margin-right: 10px;
    width: 30px; 
    height: 30px; 
}
.search-input {
    background: url('search.png') no-repeat 10px center;
    background-size: 16px 16px;
    padding-left: 30px; 
    
}

.group-buttons button:hover {
    background-color: #555;
    transform: scale(1.05);
}

.search-container {
    margin: 0.625rem 0;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input[type="text"], select {
    width: 90%;
    padding: 0.625rem;
    padding-left: 2%;
    border: 1px solid #0061FE;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 0.625rem;
}

input[type="email"], select {
    width: 90%;
    padding: 0.625rem;
    border: 1px solid #0061FE;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 0.625rem;
}

textarea[id="message"], select {
    width: 90%;
    padding: 0.625rem;
    border: 1px solid #0061FE;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 0.625rem;
}

textarea[id="InstituationDropdown"], select {
    width: 90%;
    padding: 0.625rem;
    border: 1px solid #0061FE;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 0.625rem;
}
body.dark-mode .menu-btn{
        color: #bbb;}

body.dark-mode .search-input{
    background-color: #000;
        color: #bbb;}
table {
    width: 100%;
    margin: 1.25rem 0;
    border-collapse: collapse;
    overflow-x: auto;
    display: table;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

th, td {
    padding: 0.625rem;
    text-align: left;
    box-sizing: border-box;
}

.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
}

.dataTables_wrapper .dataTables_info {
    float: left;
    text-align: left;
}

.pagination {
    margin-top: 1.25rem;
    text-align: center;
}

button {
    padding: 0.625rem 1.25rem;
    align-items: center;
    font-size: 1rem;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.2s;
}

button:hover {
    background-color: #3b5998;
    transform: scale(1.05);
}

.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #000;
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    animation: spin 1s linear infinite;
    align-items: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.popup {
    border: 4px solid #000000;
    border-radius: 4px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 97%;
    max-width: 400px;
    background-color: rgb(255, 255, 255);
    color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 80vh;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    animation: popupAnimation 0.5s forwards; /* Add this line */
}

@keyframes popupAnimation {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}


.popup-content {
    text-align: left;
    color: #000;
    font-size: 0.5rem;
}

.popup-content h2 {
    color: #2e7d32;
    margin: 10px 0;
    font-size: 1.2rem;
    border-bottom: 2px solid #2e7d32;
    padding: 5px 0;
}

.popup-content button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #5c5f5c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.popup-content button:hover {
    background-color: #555;
    transform: scale(1.05);
}

.popup-content input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #0061FE;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 1rem;
}

.popup-content p {
    color: #000000;
    font-size: medium;
    font-family: Arial, sans-serif;
    font-weight: bold;
    line-height: 1;
    margin: 15px 0;
}

.back-button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #008c00;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.back-button:hover {
    background-color: #1b5e20;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.popup-content .progress-bar-container {
    border: 1px solid #000000;
    border-radius: 4px;
    width: 80%;
    background-color: #bdbcbc;
    overflow: hidden;
    margin-top: 0;
}

.popup-content .progress-bar {
    height: 10px;
    text-align: center;
    font-weight: bolder;
    line-height: 10px;
    font-size: 0.7rem;
    transition: width 0.2s ease-in-out;
    color: rgb(255, 255, 255);
}

.popup-content .progress-bar.yellow {
    color: black; 
}

.popup-content .close-btn {
    border: 1px solid #080808;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 2rem; 
    color: #961010;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.popup-content .close-btn:hover {
    background: red;
    color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
    body {
        font-size: 0.8rem;
        overflow-y: auto;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1rem;
    }

    table, th, td {
        padding: 0.25em;
    }

    button {
        padding: 0.50rem 0.50rem;
        font-size: 0.66rem;
        border: none;
        border-radius: 0px;
    }

    .loading-spinner {
        width: 1rem;
        height: 1rem;
    }

    .popup {
        width: 70%;
        padding: 10px;
    }
    
    .back-button {
        font-size: 0.8rem;
        padding: 8px 15px;
    }
    input[type="text"], select {

        padding-left: 8%;

    }
}

* {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}



body.locked {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.menu-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    color: #666666;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
    text-align: center;
}

.sidebar button {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 18px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    cursor: pointer;
    width: 80%;
    border-radius: 5px;
}

.sidebar button:hover {
    background-color: #000000;
    color: white;
}

.sidebar .settings {
    margin-top: 20px;
}

body.dark-mode .sidebar {
    background-color: #000;
}
body.dark-mode .sidebar button
{
    background-color: #000;
    color: white;
}
body.dark-mode .sidebar button:hover
{
    background-color: #fffbfb;
    color: rgb(0, 0, 0);
}


body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode header,
body.dark-mode footer {
    background-color: #1f1f1f;
}

body.dark-mode .breadcrumb {
    background-color: #000;
}

body.dark-mode .breadcrumb a {
    color: #bbb;
}

body.dark-mode .popup {
    border: 4px solid #ffffff;
    background-color: rgb(0, 0, 0);
    color: #000000;
}

body.dark-mode .popup-content {
    text-align: left;
    color: #ffffff;
    font-size: 0.5rem;
}



body.dark-mode .popup-content h2 {
    color: #2e7d32;

}

body.dark-mode .popup-content p {
    color: #ffffff;

}
body.dark-mode p{
    color: #ffffff;
}
body.dark-mode .group-buttons button{
    color: #edecec;
    background-color: rgb(14, 29, 192);
}
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        padding-top: 60px;
    }

    .sidebar button {
        font-size: 12px;
    }
}
.student-name, .student-roll, .student-school {
    cursor: pointer;
}

body:not(.dark-mode) .student-name,
body:not(.dark-mode) .student-roll,
body:not(.dark-mode) .student-school {
    color: indigo;
}

body.dark-mode .student-name,
body.dark-mode .student-roll,
body.dark-mode .student-school {
    color: white;
}


header img.home-icon {
    position: absolute;
    top: 15px;
    left: 12.5px;
    width: 18px;
    height: 18px; 
    cursor: pointer;
    z-index: 1001;
    color: #ffffff;
    cursor:pointer;
    
}
@keyframes popupOutAnimation {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(0);
    }
}

.popup.pop-out {
    animation: popupOutAnimation 0.5s forwards;
}

.popup.pop-out.hidden {
    display: none;
}
@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

button {
    position: relative;
    overflow: hidden;
}

button::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.3);
    display: block;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 0.6s linear;
    pointer-events: none;
}

button:active::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: ripple 0.6s linear;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #000;
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    animation: spin 1s linear infinite;
}




@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

header h1 {
    animation: fadeIn 2s ease-in-out;
}

header h2 {
    animation: fadeIn 2.25s ease-in-out;
}

.sidebar button {
    animation: bounce 11.5s infinite;
}
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: calc(center);
  z-index: 99;
  border: none;
  outline: none;
  background-color: #d9d9d9;
  color: white;
  cursor: pointer;
  padding: 0px;
  border-radius: 200%;
}

#scrollToTopBtn img {
  width: 40px;
  height: 40px;
}
